// Fonts
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;600;700&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');


// Variables
@import 'variables';
//Fontawesome
$fa-font-path: "../webfonts";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// AdminLTE
//@import '~admin-lte/dist/css/adminlte.css';

//FontAwesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

* {
    -webkit-overflow-scrolling: touch;
}
.fullpage-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fullpage-wp {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.fullpage-wp.anim {
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 500ms ease-out 0s;
    transition: all 500ms ease-out 0s;
}
.fullpage-wp.fullpage-wp-h {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.page {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    overflow: hidden;
}
.animated {
    opacity: 1;
}
body {
    margin: 0;
}


.page {
    display: block;
    text-align: center;
    font-size: 26px;
    color: #eee;
}
.page-1 {
    padding-top: 100px;
    background: $red_impro;
}

.page-2 {
    background: $grey_impro;
}

.page-3 {
    padding-top: 100px;
    background: #aabbcc;
}
.page-4{
    padding-top:200px;
    background-color: palevioletred;
}
.page-5{
    padding-top:200px;
    background-color: blueviolet;
}

h3,
p {
    font-size: 16px;
}

.button-group {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 9;
}

.button-group button {
    display: inline-block;
    margin: 10px;
    color: #000;
    background: #fff;
    background: rgba(255, 255, 255, .5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 9px 18px;
    border: none;
    outline: none;
}
.fullpage-horizontal,
.fullpage-vertical{
    position: absolute;
    width:100%;
    height: 100%;

}

.fullpage-pagination-bullet{
    margin:0 6px;
    display: block;
    cursor: pointer;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}

.fullpage-pagination-bullet__active{
    background: #1bbc9b;
    opacity: 1;
}

.fullpage-horizontal >.fullpage-pagination{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,0);
}

 .fullpage-vertical > .fullpage-pagination{
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translate(0,-50%);
    display: flex;
    flex-flow: column;
}

.fullpage-vertical > .fullpage-pagination > .fullpage-pagination-bullet{
    margin:6px 0;
}

.fullpage-vertical > .fullpage-pagination > .fullpage-pagination-bullet__active{
    background: #4D7CFE;    
}


.button-group button.active {
    background: rgba(0, 0, 0, .5);
    color: #fff;
}
button.disabled-btn{
    background: red;
        color: #fff;
}
/**Custom css for home**/
.svg-image{
    width: 60%;
    max-width: 515px;
    position: relative;
    margin: 0 auto;
    display: flex;
}
.impro-text{
    height: 40% ;    
}
.center{
    display: flex;
    margin: 0 auto;
}
.customButton {
	box-shadow: 0px 10px 14px -7px $grey_impro;
	background:linear-gradient(to bottom, $white_impro 5%, $grey_impro 100%);
	background-color:$white_impro;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:$red_impro;
	font-family: $font-family-cairo;
	padding:5px 30px;
	text-decoration:none;
    text-shadow:0px 1px 0px $grey_impro;
    min-width: 180px;
    max-width: 270px;
    width: 100%;
}
.customButton:hover {
	background:linear-gradient(to bottom, $white_impro 20%, $grey_impro 100%);
    background-color:$white_impro;
    font-weight: bold;
}
.customButton:active {
	position:relative;
	top:1px;
}
.blank{
    width: 100%;
    height: 0.5%;
    display: inline-block;
}
.custom-img {
    border-radius: 50%;    
    height: 15%;
    max-height: 200px;
}
.custom-shadow{
    -webkit-box-shadow: 6px 3px 10px 10px $shadow;
    -moz-box-shadow: 6px 3px 10px 10px $shadow;
    box-shadow: 6px 3px 10px 10px $shadow;
}
.custom-paragraph{
    font-family: $font-family-roboto;
    font-weight: 100;
    color:$black_impro;
    line-height: 2;
    font-size: inherit;
    padding: 1em;
}